BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 120
Language: Cpp
DerivePointerAlignment: false
PointerAlignment: Left
AllowShortFunctionsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortBlocksOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
IndentPPDirectives: AfterHash
IndentCaseLabels: true
